############################################
# SPRING BOOT / MAVEN
############################################

target/
!**/src/main/**/target/
!**/src/test/**/target/

.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

*.jar
*.war
*.ear

############################################
# CONFIGURAÇÕES SENSÍVEIS (CRÍTICO)
############################################

application.properties
application.yml
application-dev.properties
application-prod.properties

.env

############################################
# LOGS
############################################

*.log
logs/
log/

############################################
# JAVA
############################################

*.class

############################################
# IDE - INTELLIJ IDEA
############################################

.idea/
*.iws
*.iml
*.ipr
out/

############################################
# SPRING / STS
############################################

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

############################################
# NETBEANS
############################################

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

############################################
# VSCODE
############################################

.vscode/

############################################
# SISTEMA OPERACIONAL
############################################

.DS_Store
Thumbs.db

############################################
# CACHE / TEMP
############################################

*.tmp
*.bak
*.swp

############################################
# DEPENDÊNCIAS OPCIONAIS (casos específicos)
############################################

node_modules/   # caso tenha front junto
dist/

############################################
# DOCKER (se usar)
############################################

docker-compose.override.yml